@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@layer base {
	:root {
		--header-height: --spacing(16);

		--bg-0: oklch(95% 1% 0);
		--bg-1: oklch(90% 1% 0);
		--bg-2: oklch(85% 1% 0);
		--border: oklch(80% 1% 0);
		--text: oklch(30% 0 0);
		--text-muted: oklch(40% 0 0);
		--primary: oklch(69% 30.5% 18.1);

		@variant dark {
			--bg-0: oklch(20% 0 0);
			--bg-1: oklch(25% 0 0);
			--bg-2: oklch(30% 0 0);
			--border: oklch(35% 0 0);
			--text: oklch(90% 0 0);
			--text-muted: oklch(80% 0 0);
			--primary: oklch(83% 7.5% 2.4);
		}
	}

	a:not(.default) {
		@apply text-primary underline decoration-primary/50 decoration-2 underline-offset-2 transition-[text-decoration-color] duration-300 hover:decoration-primary;
	}
}

@theme {
	--default-font-family: 'Plus Jakarta Sans Variable', sans-serif;

	--color-bg-0: var(--bg-0);
	--color-bg-1: var(--bg-1);
	--color-bg-2: var(--bg-2);
	--color-text: var(--text);
	--color-border: var(--border);
	--color-text-muted: var(--text-muted);
	--color-primary: var(--primary);
}

@utility prose-theme {
	--tw-prose-body: theme(color.text);
	--tw-prose-headings: theme(color.primary);
	--tw-prose-lead: theme(color.text-muted);
	--tw-prose-links: theme(color.primary);
	--tw-prose-bold: theme(color.text);
	--tw-prose-counters: theme(color.text-muted);
	--tw-prose-bullets: theme(color.text-muted);
	--tw-prose-hr: theme(color.border);
	--tw-prose-quotes: theme(color.text-muted);
	--tw-prose-quote-borders: theme(color.border);
	--tw-prose-captions: theme(color.text-muted);
	--tw-prose-code: theme(color.primary);
	--tw-prose-pre-code: theme(color.text);
	--tw-prose-pre-bg: theme(color.bg-1);
	--tw-prose-th-borders: theme(color.border);
	--tw-prose-td-borders: theme(color.border);
	--tw-prose-kbd: theme(color.primary);

	.shiki,
	.shiki span {
		background-color: theme(color.bg-1) !important;

		@variant dark {
			color: var(--shiki-dark) !important;
			font-style: var(--shiki-dark-font-style) !important;
			font-weight: var(--shiki-dark-font-weight) !important;
			text-decoration: var(--shiki-dark-text-decoration) !important;
		}
	}

	a {
		@apply text-primary underline decoration-primary/50 decoration-2 underline-offset-2 transition-[text-decoration-color] duration-300 hover:decoration-primary;
	}

	kbd {
		@apply rounded-lg bg-bg-1 p-2;
	}

	img {
		@apply rounded-lg outline outline-border;
	}
}
